@import url('https://fonts.googleapis.com/css?family=Quicksand:700|Varela+Round|Roboto+Condensed:300,400|Hind');

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 100px;
  font-family: 'Hind', sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: relative;
}
.footer {
  position: absolute;
  bottom: -100px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 102px;
  background-color: #1abc9c;
  color: #fff!important;
}

.navbar, .navbar-default, .navbar-fixed-top {
  background-color: #1abc9c;
  padding-bottom: 60px;
  padding-top: 60px;
  margin: 0px;
  background-image: none;
  font-size: 20px;
}

.navbar-header, .nav, .navbar-nav, .navbar-right {
margin: 0px;
padding: 0px;
}

.navbar-default .navbar-nav > li > a {
	color: white;
	text-transform: uppercase;
	font-size: 16px;
	font-family: 'Roboto Condensed';
	font-weight: 300;
	letter-spacing: 0px;
	border-color: transparent;
	background-color: transparent;
}


.navbar-default .navbar-nav > li > a:hover, a:active {
	color: #fff;
	background: none;
}

#navbar .active a, #navbar .active a:hover, #navbar .active a:focus {
    background: none !important; 
  border: 0 !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  color: #000;
}

#navbar .navbar-nav>.active>a, #navbar .navbar-nav>.active>a:focus, #navbar .navbar-nav>.active>a:hover {
	background-color: #1abc9c;
    color: #000;
}



.navbar-brand {
	font-weight: 700;
	font-family: 'Roboto Condensed';
	font-size: 34px;
	letter-spacing: 0px;
	font-weight: 300;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-toggle {
	border-color: transparent;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
@media (min-width: 992px) {
  .content {
    max-width: 100%;
    margin: auto;
  }
  .right{
    text-align: right;
  }
  img{
    width: auto;
    height: auto;
   }
   .narrow{
     width: 45vw;
    }
}

@media (max-width: 992px) {
  .right{
    text-align: center;
  }
  .narrow{
     width: 90vw;
    }
}
  
body > .container {
  padding: 190px 15px 0;
}

.topspace {
  margin-top: -190px;
}

.space{
margin-top: 60px;
margin-bottom: 60px;
}


.container .text-muted {
  margin: 40px 0;
  color: #fff;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}

.row{
    margin-top: -60px;
    padding-top: 60px;
}

.moveRight{
padding-left: 35px;
}
.col-md-6 {
padding-top: 15px;
padding-bottom: 15px;
}

#course, #direct, #campus, #join {
margin-top: -140px;
padding-top: 210px;
}

.jumbotron {
text-align: center;
/*background-image:url('../images/school/school.png');*/
}

.topjumbo{
padding-top: 42vh;
height: 100vh;
}

.bottomjumbo{
margin-top: -60px;
}


.center{
text-align: center;
padding-bottom: 5px;
}